body {
    background-color:black;
    text-align: center;
}

/* h1, 
#feelings-form, 
#buttons,
#find-feelings {
    text-align: center;
} */
body{
    font-family: 'Mountains of Christmas', cursive;
}

h1{
    font-size:40px;
}

.gifRating,
.gifImg{
    border: solid white 5px;
    width:300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.gifRating{
    font-size: 20px;
}

.button, 
.clearBtn,
#find-feelings {
    font-size:20px;
    border: black dotted 2px;
}

label,
#instructions {
    font-size: 30px;
}

#find-feelings,
.clearBtn {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#instructions{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
   
}

h1, 
label,
#instructions,
.gifRating{
    color: white;
}

#left, #right {
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0
}
#left {
    background-image: url("../images/background.jpg");
    left: 0
}
#right {
    background-image: url("../images/background.jpg");
    right: 0
}


