body {
    background-color: rgb(106, 149, 214); 
    text-align: center;
}

/* h1, 
#feelings-form, 
#buttons,
#find-feelings {
    text-align: center;
} */

.gifRating,
.gifImg{
    border: solid black 5px;
}